<!DOCTYPE html>
<html lang="en">
  <%- include("partials/header"); -%>
<body>
    <h1> Welcome to Cinema! </h1>
    <p>Do you have a hard time deciding which movie to watch? If you are stuck on deciding which movie to watch with a group of friends, don't worry! Cinema allows you to search any genre you like and provides you with a list of a variety of movies in that genre selected! </p>
        <br>
    <p>
      <form action = "/search" enctype = "multipart/form-data" method = "post">
        <h3>Keywords:</h3> <br>
        <input type="text" id="keyword1" name="keywords"> <br><br>
        <input type="text" id="keyword2" name="keywords"> <br><br>
        
        <!--Checkboxes-->
    <h3>Genres:</h3> 
      <table>
        <tr>
        <% for(var i=0; i < 5; i++) { %>
            <td>
            <input type = "checkbox" name = "genres" value = "<%=data.allGenres[i] %>"> 
            <br>
            <td><%= data.allGenres[i] %></td>
          </td>
        <% } %>
        </tr>
        <tr>
        <% for(var i=5; i < 10; i++) { %>
            <td>
            <input type = "checkbox" name = "genres" value = "<%=data.allGenres[i] %>"> 
            <br>
            <td><%= data.allGenres[i] %></td>
          </td>
        <% } %>
        </tr>
        <% for(var i=10; i < 15; i++) { %>
           <td>
           <input type = "checkbox" name = "genres" value = "<%=data.allGenres[i] %>"> 
           <br>
           <td><%= data.allGenres[i] %></td>
          </td>
        <% } %>
        </tr>
          <tr>
            <% for(var i=15; i < 20; i++) { %>
               <td>
               <input type = "checkbox" name = "genres" value = "<%=data.allGenres[i] %>"> 
               <br>
               <td><%= data.allGenres[i] %></td>
              </td>
            <% } %>
            </tr>
        </table>
        <input type="submit" value="Submit">
      </form>
    </p>
</body>
</html>

