<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset = "UTF-8">
    <link rel="stylesheet" type = "text/css" href="css/styles.css">
</head>
    <body>
        <h2>Here's your matching movies!</h2><br>
        
        <p><b>You searched for these keywords: </b><br>
        <% for(var i=0; i < searchResults.searchKeywords.length; i++) { %>
            <%- searchResults.searchKeywords[i] %>  ,
        <% } %>

        <br><br>
        <p><b>....And these genres: </b><br>
          <% for(var i=0; i < searchResults.searchGenres.length; i++) { %>
              <%- searchResults.searchGenres[i] %>  ,
          <% } %> 
        <br><br>

        <b>Best Matching Movies (Match on genre and keyword. Genre is ALL and keyword is ANY): </b><br>
            <table class ="styled-table">
              <tbody>
            <% for(var i=0; i < searchResults.bestMatches.length; i++) { %>
                <tr>
                    <b><%-searchResults.bestMatches[i].title; %></b> <br>
                    <%-searchResults.bestMatches[i].releaseDate; %> <br>
                    <%-searchResults.bestMatches[i].runtime; %> minutes <br>
                    <br>
                    <%-searchResults.bestMatches[i].overview; %> <br>
                    <br>
                    <%-searchResults.bestMatches[i].tagline; %> <br>
                    <br>
                    <% for(var j=0; j < searchResults.bestMatches[i].genres.length; j++) { %>
                        <%- searchResults.bestMatches[i].genres[j] %>
                    <% } %> <br>

                  </tr>
                  <br>
            <% } %>
            </tbody>
            </table>
        </p>
    </body>
    <button type="button" onclick="javascript:history.back()" class="design">Back</button>
</html>




