<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset = "UTF-8">
    <meta charset = "UTF-8">
    <link rel="stylesheet" type = "text/css" href="css/styles.css">
    <script type = "text/javascript" src = "../javascript/js.js" async></script>
</head>
<body>
    <!--Beginning of Banner Container-->
    <ul class = "flex-banner-container">
        <li class = "flex-banner-content">
            <h1>try these movies!</h1>
        </li>
    </ul>
    <!--End of Banner Container-->
    <!--Beginning of Details Container-->
    <ul class = "flex-details-container">
        <li class = "flex-details-info">
            <p>
                You searched for 
                <% if (searchResults.searchKeywords.length == 0){ %> no keywords. 
                <% } else { %> these keywords: <br> 
                    <% for(var i=0; i < searchResults.searchKeywords.length; i++) { %>
                        <%- searchResults.searchKeywords[i] %>  
                    <% } %>
                <% } %>
            </p>
            <p>
                You searched for 
                <% if (searchResults.searchGenres.length == 0){ %> no genres. 
                <% } else { %> these genres: <br> 
                    <% for(var i=0; i < searchResults.searchGenres.length; i++) { %>
                        <%- searchResults.searchGenres[i] %>  
                    <% } %>
                <% } %>
            </p>
        </li>
        <li class="flex-details-stats">
            some stats here
            # of movies found
            # of movies matched on both genre and keyword
            # of movies matched on one or the other?
        </li>
    </ul>
    <!--End of Details Container-->
    <ul class = "flex-results-container">
    <% for(var i=0; i < searchResults.bestMatches.length; i++) { %>
        <li class = flex-result>
            <details>
                <p>
                <b>Release Date: </b><%-searchResults.bestMatches[i].releaseDate; %> <br>
                <b>Original Language: </b><%-searchResults.bestMatches[i].language; %><br>
                <b>Run Time: </b><%-searchResults.bestMatches[i].runtime; %> minutes <br>
                <b>Overview: </b><%-searchResults.bestMatches[i].overview; %> <br>
                <b>Genres: </b><% for(var j=0; j < searchResults.bestMatches[i].genres.length; j++) { %>
                    <%- searchResults.bestMatches[i].genres[j] %>
                <% } %> 
                <b>Keywords: </b> <% for(var j=0; j < searchResults.bestMatches[i].keywords.length; j++) { %>
                    <%- searchResults.bestMatches[i].keywords[j] %>
                <% } %> 
                </p>
            <summary>
                <h3><%-searchResults.bestMatches[i].title; %></h3>
                <br><%-searchResults.bestMatches[i].tagline; %>
            </summary>   
            </details>
        </li>
    <% } %>
    </ul>
</body>
    <button type="button" onclick="javascript:history.back()" class="design">Back</button>
    </html>




