<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset = "UTF-8">
    <link rel="stylesheet" href="styles.css">
    <body>
        <h2>Here's your matching movies!</h2><br>
        <p><b>You searched for these keywords: </b><br>
        <% for(var i=0; i < searchResults.searchKeywords.length; i++) { %>
            <%- searchResults.searchKeywords[i] %>  ,
        <% } %>

        <br><br>
        <p><b>....And these genres: </b><br>
        <% for(var i=0; i < searchResults.searchGenres.length; i++) { %>
            <%- searchResults.searchGenres[i] %>  ,
        <% } %> 
        <br><br>
        <b>Best Matching Movies (Match on genre and keyword. Genre is ALL and keyword is ANY): </b><br>
        <table>
        <% for(var i=0; i < searchResults.bestMatches.length; i++) { %>
            <tr>
                <u>Id:</u> <%-searchResults.bestMatches[i].id; %><br>
                <u>Title:</u> <%-searchResults.bestMatches[i].title; %> <br>
                <u>Overview:</u> <%-searchResults.bestMatches[i].overview; %> <br>
                <u>Tagline:</u> <%-searchResults.bestMatches[i].tagline; %> <br>
                <u>Runtime:</u> <%-searchResults.bestMatches[i].runtime; %> <br>
                <u>Homepage:</u> <%-searchResults.bestMatches[i].homepage; %> <br>
                <u>Language:</u> <%-searchResults.bestMatches[i].language; %> <br>
                <u>ReleaseDate:</u> <%-searchResults.bestMatches[i].releaseDate; %> <br>
                <u>Genres:</u><br>
                <% for(var j=0; j < searchResults.bestMatches[i].genres.length; j++) { %>
                    <%- searchResults.bestMatches[i].genres[j] %>
                <% } %> <br>
                <u>Keywords:</u><br>
                <% for(var j=0; j < searchResults.bestMatches[i].keywords.length; j++) { %>
                    <%- searchResults.bestMatches[i].keywords[j] %>
                <% } %> <br>
                </tr>
                <br><br>
        <% } %>
        </table>
        </p>



    </body>
</head>
</html>




