<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset = "UTF-8">
    <link rel="stylesheet" href="styles.css">
    <body>
        <h2>Here's your matching movies!</h2><br>
        <p><b>You searched for these keywords: </b><br>
        <% for(var i=0; i < searchResults.searchKeywords.length; i++) { %>
            <%- searchResults.searchKeywords[i] %>  ,
        <% } %>

        <br><br>
        <p><b>....And these genres: </b><br>
        <% for(var i=0; i < searchResults.searchGenres.length; i++) { %>
            <%- searchResults.searchGenres[i] %>  ,
        <% } %> 
        <br><br>
        <b>Best Matching Movies (Match on genre and keyword): </b><br>
        <table>
        <% for(var i=0; i < searchResults.bestMatches.length; i++) { %>
            <tr>
                Id: <%-searchResults.bestMatches[i].id; %><br>
                Title: <%-searchResults.bestMatches[i].title; %> <br>
                Overview: <%-searchResults.bestMatches[i].overview; %> <br>
                Tagline: <%-searchResults.bestMatches[i].tagline; %> <br>
                Runtime: <%-searchResults.bestMatches[i].runtime; %> <br>
                Homepage: <%-searchResults.bestMatches[i].homepage; %> <br>
                Language: <%-searchResults.bestMatches[i].language; %> <br>
                ReleaseDate: <%-searchResults.bestMatches[i].releaseDate; %> <br><br>
            </tr>
        <% } %>
        </table>
        </p>



    </body>
</head>
</html>




